body {
  background-color: #9db595;
}


header {
  background-color: #5e974c;
  color: rgb(20, 18, 18);
  text-align: center;

}


main {
  padding: 50px, 0;
  background-color: #e1dfdfe2;
}

h3 {
  font-size: 1rem;
}

a {
  color: rgb(20, 18, 18)
}

footer {
  background-color: #9db595;
  color: #fff;
  padding: 2rem 1rem;
  text-align: center;
}
.photography {
padding: 2rem 1rem;
}

.about-me {
  min-height: 75px;
  padding: 2rem 1rem;
}

.experience h3 {
  font-style: italic;
  font-weight: bold;
}

.dates {
  font-size: .85rem;
  font-size: italic;
}